/* body,
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

header {
    background-color: #46424D;
    color: white;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

input {
  color: white;
}

h1 {
  background-color: #46424D;
}
h2 {
  margin-left: 15px;
}
h3 {
  padding-left: 5em;
}

.title {
    margin: 0;
}

.site-left-main {
    background-color: #2B2733;
    border-right: 1px solid grey;
    color: white;
    width: 70%;
    display: inline-block;
}

.site-left-box {
    height: 100%;
    background-color: #46424D;
    margin: 20px;
    padding: 20px;
}
.site-left-form {
  background-color: #46424D;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.study-button {
  background-image: url(assets/study.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.meditate-button{
  background-image: url(assets/meditate.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.exercise-button{
  background-image: url(assets/exercise.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.study-button, .meditate-button, .exercise-button {
  border: white 3px solid;
  background-color: #46424D;
  width: 15em;
  height: 7em;
  padding-top: 25px;
}

.what-question, .minutes-column, .seconds-column {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.question {
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  width: 100%;
  background-color: #46424D;
  margin-top: 30px;
}
.minutes, .seconds {
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  display: block;
  background-color: #46424D;
  margin-top: 30px;
  width: 100%;
}
.start-button {
  display: block;
}
.site-right-main {
    background-color: #2B2733;
    width: 28%;
    display: inline-block;
} */

body,
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

header {
    background-color: #46424D;
    color: white;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.site-left-main {
    background-color: #2B2733;
    border-right: 1px solid grey;
    color: white;
    width: 70%;
    display: inline-block;
    height: auto;
}

.left-background {
    height: 30vh;
}

.new-activity {
    margin-left: 20px;
}

.site-left-box {
    height: 100%;
    background-color: #46424D;
    margin: 20px;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -5px #000000;
}

.site-left-form {
    background-color: #46424D;
}

.study-button {
    background-image: url(assets/study.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
    background-position-y: 0.4em;
}

.meditate-button {
    background-image: url(assets/meditate.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
    background-position-y: 0.4em;
}

.exercise-button {
    background-image: url(assets/exercise.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
    background-position-y: 0.4em;
}

.top-buttons {
    height: 4em;
    width: 10em;
    color: white;
    background-color: #46424D;
    padding: 20px;
    border-radius: 2px;
    font-size: 1.1em;
    line-height: 4em;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}

.question {
    display: block;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 2em;
    font-size: 3em;
}

.minutes-seconds-row {
    display: flex;
    justify-content: space-between;
}

.minutes-column {
    display: inline-block;
}

.minute {
    display: block;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
    font-size: 3em;
    width: 60%;
}

.seconds-column {
    display: inline-block;
}

.seconds {
    display: block;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
    font-size: 3em;
    width: 60%;
}

.start-button {
    background-color: #EEEEEE;
    color: #46424D;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    float: right;
}

.site-right-main {
    background-color: #2B2733;
    float: right;
    width: 29.9%;
    height: 105.4vh;
}

.past-activities {
    margin: 10px;
}

.site-right-activities {
    margin: 10px;
}

.activity-box {
    background-color: #46424D;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px -5px #000000;
}

.activity-box-top {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.activity-name {
    font-weight: 700;
}

.activity-time {
    text-transform: uppercase;
    font-weight: 400;
}

.activity-description {
    font-weight: 300;
}

.color-tab {
    height: 2em;
    width: 2%;
    background: orange;
    color: orange;
    border-radius: 10px;
}

input[type="button"]:hover {
    cursor: pointer;
}